.css-j6vlny-MuiLinearProgress-root{
    height: 20px !important;
    border-radius: 20px;
    background-color: inherit !important;
    border: 2px solid rgb(187, 115, 115);
}
.css-1fvsj7b-MuiLinearProgress-bar1{
    background-color: rgb(163, 96, 96) !important;
}

@media screen and (max-width: 767px){
    .css-11ze7cv{
        width: 80% !important;
    }
}