.result{
    font-size: clamp(1rem, 3.4vw, 3rem);
    color: #8abe53;
    font-weight: 100;
}
#result{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}